services:
  n8n:
    container_name: n8n
    build:
      context: ./dockerfiles/n8n
      dockerfile: Dockerfile
    environment:
      # 접속 주소 및 포트 정보
      N8N_HOST: ${N8N_HOST}
      N8N_PORT: ${N8N_PORT}
      N8N_PROTOCOL: ${N8N_PROTOCOL}
      WEBHOOK_URL: ${N8N_PROTOCOL}://${N8N_HOST}/

      # 보안 및 지역 설정
      N8N_ENCRYPTION_KEY: ${N8N_ENCRYPTION_KEY}
      TZ: ${TZ}
      GENERIC_TIMEZONE: ${GENERIC_TIMEZONE}

      # SQLite 기반이므로 별도 DB 접속 정보 불필요
      DB_TYPE: sqlite
    ports:
      - "5678:${N8N_PORT}"
    volumes:
      # n8n 데이터 및 SQLite 파일 영구 저장
      - n8n_data:/home/node/.n8n
    restart: unless-stopped

volumes:
  n8n_data: