services:
  n8n:
    container_name: n8n
    build:
      context: ./dockerfiles/n8n
      dockerfile: Dockerfile

    environment:
      N8N_LISTEN_ADDRESS: 0.0.0.0
      N8N_HOST: ${N8N_HOST}
      N8N_PORT: ${N8N_PORT}
      N8N_PROTOCOL: ${N8N_PROTOCOL}
      WEBHOOK_URL: ${N8N_PROTOCOL}://${N8N_HOST}/
      N8N_ENCRYPTION_KEY: ${N8N_ENCRYPTION_KEY}
      TZ: ${TZ}
      GENERIC_TIMEZONE: ${GENERIC_TIMEZONE}
      DB_TYPE: sqlite
      N8N_EMAIL_MODE: smtp
      N8N_SMTP_HOST: ${SMTP_HOST}
      N8N_SMTP_PORT: ${SMTP_PORT}
      N8N_SMTP_USER: ${SMTP_USER}
      N8N_SMTP_PASS: ${SMTP_PASS}
      N8N_SMTP_SENDER: ${SMTP_SENDER}
      N8N_SMTP_SSL: false

    ports:
      - "5678:${N8N_PORT}"
    volumes:
      - n8n_data:/home/node/.n8n
    restart: unless-stopped

volumes:
  n8n_data: